@page
@using Microsoft.Extensions.Localization
@using ProjectService.Localization
@using ProjectService.Web.Pages.ProjectService
@model ProjectService.Web.Pages.ProjectService.IndexModel
@inject IStringLocalizer<ProjectServiceResource> L

@{
}
<h1>ProjectService</h1>
<p>@L["SamplePageMessage"]</p>
